/* Navigation bar styling */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    
}

/* Hamburger menu button styling */
.menu-btn {
    display: none;
    padding: 10px;
    background: none;
    border: none;
}

/* Styling for the menu icon */
.menu-btn .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
}

/* Checkbox input styling in the menu button */
.menu-btn input[type="checkbox"] {
    display: none;
}

/* Logo styling */
.logo img {
    width: auto;
    height: auto;
    max-width: 30%;
}

/* Vertical metro line styling */
.ligne-metro {
    margin-top: 2rem;
    margin-bottom: 0;
    display: block;
    width: 100%;
    border-top: 10px solid red;
    padding: 0;
    writing-mode: vertical-lr;
}

/* Styling for each metro station on the line */
.ligne-metro li {
    display: block;
    transform: rotate(235deg) translate(0, 35px);
    transform-origin: center;
    margin: 0 0 0 5rem;
    margin-top: 0;
    text-align: right;
    font-size: 1.2rem;
    transition: color 0.3s, font-size 0.3s;
}

/* Styling for metro station links */
.ligne-metro li a {
    color: black;
}

/* Hover and active styles for metro stations */
.ligne-metro li:hover,
.ligne-metro li:active {
    color: #808080;
    font-size: 1.5rem;
}



/* Écrans de petite taille */
@media screen and (max-width: 768px) {

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .logo img {
        max-width: 30%;
    }

    .menu-btn {
        display: block;
    }

    #menu.menu-open {
        display: block;
    }

    .ligne-metro {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f8f8f8;
        width: 100%;
        text-align: center;
        writing-mode: horizontal-tb;
        z-index: 999;
    }

    .ligne-metro li {
        margin: 20px;
        margin-top: 10px;
        display: block;
        transform-origin: left center;
        text-align: left;
        transform: none !important;
        right: 20px;
        text-align: right;
        font-size: 1.2rem;
    }

    .menu-open .ligne-metro li {
        display: block;
        margin: 0;
        padding: 10px;
        font-size: 1.2rem;
        border-bottom: 1px solid #ccc;
    }

    #menu {
        display: none;
        position: absolute;
        top: 48px;
        background-color: #fff;
        padding: 7px;
        list-style: none;
    }

    .ligne-metro li:hover,
    .ligne-metro li:active {
        color: #808080;
        font-size: 0.9rem;
    }
}

