/* //////////////////////////// */
/* ///////// Codes //////// */
/* //////////////////////////// */

.btn-codes {
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.code-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 60px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.code-section {
	margin-top: 2rem;
	margin-bottom: 40px;
}

pre {
	background-color: #2d2d2d;
	color: #ffffff;
	padding: 15px;
	border-radius: 5px;
	overflow-x: auto;
}

code {
	font-size: 0.9em;
}

pre code {
	white-space: pre-wrap;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 20px;
}

ul ul {
	list-style-type: circle;
	margin-left: 20px;
}

ul li {
	margin-bottom: 5px;
}
